workflow.json
{
  "name": "Core: AI Email Triage & Routing (HITL) 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_983028827901693544"
          ],
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        16
      ],
      "id": "570c6b96-0d54-49cd-851e-bbfe43eb4d3e",
      "name": "Gmail Trigger",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "8qYJBgSmrZWaI8az",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Your Identity: You are John Doe, a Senior Solutions Architect at elbdudler. Always sign off as \"John Doe | elbdudler Team\".\nRole: You are the Lead Account Manager AI at elbdudler. Your goal is to draft email responses that are proactive, empathetic, and impeccably organized.\n\nVoice & Tone Guidelines:\n\nConfident & Direct: We are experts; avoid \"corporate fluff\" or overly submissive language (e.g., use \"I've reviewed this\" instead of \"I was wondering if I could perhaps...\").\n\nDigitally Native: You understand the pace of a digital agency. Be concise and use bullet points for clarity.\n\nThe \"elbdudler\" Edge: Maintain a warm, professional warmth—not cold or robotic.\n\nTask Instructions:\n\nAcknowledge: Briefly validate the sender's request or concern.\n\nContextualize: Reference specific details provided in the incoming email to show \"understanding.\"\n\nAction-Oriented: Propose a clear next step or confirm that the team is already looking into it.\n\nSignature: End with a professional sign-off representing the team.\n\nDo not use placeholders. If you don't know a piece of info, omit it. Use the sign-off: Best, John Doe.\n\nStrict Constraints:\n\nDo not use placeholders like \"[Name]\" if the data is available in the provided variables; if a piece of info is missing, phrase the sentence so it doesn't require the placeholder.\n\nKeep the response under 150 words unless the complexity of the inquiry strictly requires more.\n\nOutput only the email body and subject line in your response.\n\nDo NOT include a \"Subject:\" line or any headers in the draft_reply. Output ONLY the raw body of the email.\n\nName Resolution Rule:  Name Resolution Rule: Address the sender by the name they use to sign off in their email body. You must format this as a natural, professional greeting (e.g., 'Hi Ralph,' or 'Hello Ralph,'). Do not just output the name by itself.\n\nOnly use the name from the email header if the sender does not sign their name in the email body.\n\n\n🛑 STRICT NEGATIVE CONSTRAINTS:\nOut-of-Scope: If the inquiry is about physical office maintenance (parking, cleaning), hardware supplies (toner, paper), or services we do NOT provide (e.g., car repair), you MUST classify this as Noise, regardless of how professional the tone is.\n\nConfidence Penalty: If the subject matter does not relate to digital agency services (Web Dev, Design, Marketing), drop your confidence score below 60%.\n\nSender Name: {{ $node[\"Gmail Trigger\"].json.from.value[0].name }}\nSubject: {{ $json.headers.subject }}\nBody: {{ $json.cleaned_text }}",
        "attributes": {
          "attributes": [
            {
              "name": "intent",
              "description": "Must be exactly one of these words: Sales, Urgent, Noise",
              "required": true
            },
            {
              "name": "draft_reply",
              "description": "Generate only the body of the email. Do NOT include a 'Subject:' line in the output.",
              "required": true
            },
            {
              "name": "confidence",
              "type": "number",
              "description": "1-100 score of how confident you are in the classification.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        416,
        16
      ],
      "id": "7ed96506-d6fd-49c0-972d-1654299b4ea4",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        192
      ],
      "id": "441d326f-13e1-4f5b-a2fc-ff6e10e2eb9d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZDRurNmEJc86PA4t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "34cbe11f-148d-4667-97b8-13a64cfd8733"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Urgent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0243a937-3ba8-4f3f-923f-59778d202fb4",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e88e834-c130-40aa-809a-82e65085fdf1",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "Noise",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Noise"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "05d86627-7130-468c-abcb-7420d17d22f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AK1G2THJA",
          "mode": "list",
          "cachedResultName": "triage-approvals"
        },
        "text": "=🚨 *AI Triage: Action Required*\n\n*Original Sender:* {{ $('Gmail Trigger').item.json.from.value[0].address }}\n*Intent Classified As:* `{{ $json.output.intent }}` (Confidence: {{ $json.output.confidence }}%)\n\n*AI Drafted Reply:*\n> {{ $json.output.draft_reply }}\n\n👇 *Please click a link below to take action:*\n\n✅ *Approve & Send:*\n{{ $execution.resumeUrl }}?action=approve\n\n❌ *Reject / Edit:*\n{{ $execution.resumeUrl }}?action=reject",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        992,
        -208
      ],
      "id": "79c081ff-2d0d-4748-9937-0ae4782c53e0",
      "name": "Send a message",
      "webhookId": "445cf73f-4b73-41c4-8dcc-a32b2ab68f6f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "LVe8J1WaTquoRrlj",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        -208
      ],
      "id": "a643893e-d576-4938-98de-b4ac352b4167",
      "name": "Wait",
      "webhookId": "0176f8c8-0635-437c-815c-0c8fbdde6258"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "93b550af-65b1-4f90-ae74-579e69427825"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5186385a-f332-4f57-ba60-118e7c3bd970",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1520,
        -208
      ],
      "id": "1a2c245c-5cde-4e75-b9b6-e855234ca80e",
      "name": "Switch 2"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').first().json.id }}",
        "message": "={{ $('Information Extractor').first().json.output.draft_reply.replace(/\\n/g, '<br>') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        -352
      ],
      "id": "aa76b8a9-f737-42b7-ae01-f81c5a80d5ab",
      "name": "Send the Approved Mail",
      "webhookId": "9eea8588-147f-4059-a517-45bc1494889a",
      "credentials": {
        "gmailOAuth2": {
          "id": "8qYJBgSmrZWaI8az",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AK1G2THJA",
          "mode": "list",
          "cachedResultName": "triage-approvals"
        },
        "text": "=❌ *Draft discarded.* Manual reply required in Gmail for {{ $('Gmail Trigger').first().json.from.value[0].address }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1760,
        -96
      ],
      "id": "a57d8fa6-de7d-48c1-8c75-36ff376c4fa8",
      "name": "Send the Rejection Response",
      "webhookId": "58bc2af0-9e26-4acf-9837-f201b9990a68",
      "credentials": {
        "slackOAuth2Api": {
          "id": "LVe8J1WaTquoRrlj",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item coming into the node\nfor (const item of $input.all()) {\n  let text = item.json.text || \"\"; // Fallback to empty string if text is missing\n  \n  const replyPatterns = [\n    /^On.*wrote:/m,\n    /^Am.*schrieb:/m, // German support for elbdudler!\n    /---Original Message---/i,\n    /________________________________/\n  ];\n\n  let cleanedText = text;\n\n  for (const pattern of replyPatterns) {\n    const match = text.match(pattern);\n    if (match && match.index > 0) {\n      cleanedText = text.substring(0, match.index);\n      break; // Stop after the first match to keep the freshest reply\n    }\n  }\n\n  // Explicitly set the new field on the JSON object\n  item.json.cleaned_text = cleanedText.trim();\n}\n\n// Return the modified array of items\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        16
      ],
      "id": "8d609bca-e051-4c7b-8bb9-2db1868bb979",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2634867780053132349"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        16
      ],
      "id": "6faae785-eec5-4075-861e-3d5063a3cdff",
      "name": "Add Vendor Pitch Label",
      "webhookId": "803e2b36-e494-41c6-8c7d-c7133ba13d25",
      "credentials": {
        "gmailOAuth2": {
          "id": "8qYJBgSmrZWaI8az",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5606232156301171392"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        208
      ],
      "id": "592cb1d1-aeaf-4b3f-9dc8-d8fb532b1b71",
      "name": "Add AI-Noise Label",
      "webhookId": "803e2b36-e494-41c6-8c7d-c7133ba13d25",
      "credentials": {
        "gmailOAuth2": {
          "id": "8qYJBgSmrZWaI8az",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX",
          "UNREAD"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1280,
        16
      ],
      "id": "ccfabf27-5e15-4f0b-aa71-0db6655f9c0e",
      "name": "Remove Unread and Inbox Label",
      "webhookId": "638cb8c7-1e88-46ee-927f-dabce6ca828d",
      "credentials": {
        "gmailOAuth2": {
          "id": "8qYJBgSmrZWaI8az",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX",
          "UNREAD"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1280,
        208
      ],
      "id": "95184224-639e-42b9-b4de-506e30e72ad4",
      "name": "Remove Unread and Inbox Label 2",
      "webhookId": "638cb8c7-1e88-46ee-927f-dabce6ca828d",
      "credentials": {
        "gmailOAuth2": {
          "id": "8qYJBgSmrZWaI8az",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Vendor Pitch Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add AI-Noise Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch 2": {
      "main": [
        [
          {
            "node": "Send the Approved Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send the Rejection Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Vendor Pitch Label": {
      "main": [
        [
          {
            "node": "Remove Unread and Inbox Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add AI-Noise Label": {
      "main": [
        [
          {
            "node": "Remove Unread and Inbox Label 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "d3cdd015-add4-43e1-9c01-c2632f170261",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2042dc72991dcdc1983be261c3c58c79dfb625230f994039424af710ea6c2a52"
  },
  "id": "qIVgRYIdhUaFoW2R",
  "tags": []
}